[Unit]
Description=Updates GSA vulnerability database
Wants=greenbone-vul-update.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /srv/gvm-cve-vulnerability-update.sh

[Install]
WantedBy=multi-user.target
